/*tiermaker palette*/
.tiercolor1 {
    background-color: #FF7F7F;
}

.tiercolor2 {
    background-color: #FFBF7F;
}

.tiercolor3 {
    background-color: #FFDF7F;
}

.tiercolor4 {
    background-color: #FFFF7F;
}

.tiercolor5 {
    background-color: #BFFF7F;
}

.tiercolor6 {
    background-color: #7FFF7F;
}

.tiercolor7 {
    background-color: #7FFFFF;
}

.tiercolor8 {
    background-color: #7FBFFF;
}

.tiercolor9 {
    background-color: #7F7FFF;
}

.tiercolor10 {
    background-color: #FF7FFF;
}

.tiercolor11 {
    background-color: #BF7FBF;
}

.tiercolor12 {
    background-color: #3B3B3B;
}

.tiercolor13 {
    background-color: #858585;
}

.tiercolor14 {
    background-color: #CFCFCF;
}

.tiercolor15 {
    background-color: #F7F7F7;
}
  